# Python Basic print a list or string

Create a list

In [1]:
n = ['arti', 'pooja','maitree','riya']

In [2]:
l = [1,2,3,4,6,7,8,9,10]

In [3]:
len(l)

9

In [9]:
for i in range(len(l)):
    print(l[i])

1
2
3
4
6
7
8
9
10

In [5]:
  
# printing the list using loop
for x in range(len(l)):
    print (l[x], end=',')

1,2,3,4,6,7,8,9,10,

In [6]:
print(*l, sep=',')

1,2,3,4,6,7,8,9,10

In [7]:
print(*n, sep=', ')

arti, pooja, maitree, riya

In [8]:
for i in l:
    print(i)

1
2
3
4
6
7
8
9
10